.finder {
  margin: 5rem auto;
  max-width: 15rem;
  text-align: center;
}

input {
  height: 55px;
  border-radius: 10px;
  width: 15rem;
  padding: 1rem;
  font-size: 17px;
  border: 1px solid #fff;
  background-color: #d9e1e9;
  box-shadow: 1px 1px 10px 1px #aeaeae;
}
input:focus {
  border: 1px solid #fff;
}
input:active {
  border: 1px solid #fff;
}
input:focus-visible {
  outline: 0;
}

.inputField {
  position: relative;
}
.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
}

.arrowUp {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000 transparent;
}

.arrowDown {
  border-width: 8px 8px 0 8px;
  border-color: #000 transparent transparent transparent;
}
.floatingroup {
  position: relative;
}
.floatinglabel {
  position: absolute;
  left: 17px;
  top: 19px;
  transition: all 0.1s ease;
  pointer-events: none;
  font-size: 15px;
}

input:focus ~ .floatinglabel,
input:not(:focus):valid ~ .floatinglabel {
  top: 4px;
  color: #676767;
  font-size: 11px;
}
